@media only screen and (max-width: 1950px) {

.row {
	padding: 0 60px;
}


}

@media only screen and (max-width: 1800px) {


/*-- Side Menu --*/

.side_menu {
    width: 50px;
    height: 590px;
}

.callback_btn {
    width: 50px;
    height: 50px;
    background-size: 80%;
}

.links_list_wrapp {
    height: 400px;
}

.links_list {
    top: 322px;
}

.links_list li {
    padding: 5px 7px;
}

.icon_link > div:nth-child(1) {
}

.icon_link > div:nth-child(2) {
    padding: 28px 0 0 8px;
}

.icon_link > div:nth-child(2) p {
    font-size: 17px;
    line-height: 17px;
}

.icon_link > div:nth-child(1) img {
	max-width: 38px;
	position: relative;
	left: 10px;
}

.side_soc_list {
    height: 161px;
    padding: 0 0 20px 6px;
}

.side_soc {
    width: 30px;
    height: 30px;
}

.side_soc img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

/*-- /Side Menu --*/

/*-- Header --*/

.header {
    padding: 8px 0 5px 0;
}

.header_contacts > div {
    padding: 1px 0;
}

.main_nav li a {
    font-size: 17px;
}

/*-- /Header --*/

/*-- Up Button --*/

.up_btn {
    width: 45px;
    height: 45px;
    right: 20px;
}

.up_btn svg {
    max-width: 80%;
    max-height: 80%;
}

/*-- /Up Button --*/

}

@media only screen and (max-width: 1600px) {

/*-- Header --*/

.header_site > .left {
    width: 260px;
    padding: 5px 10px 4px 0;
}

.header_site > .center {
    width: calc(100% - 480px);
    padding: 0 10px;
}

.header_site > .right {
    width: 220px;
    padding: 1px 0 6px 10px;
}

.logo_2 > div:nth-child(1) {
    width: 90px;
    padding-right: 5px;
}

.logo_2 > div:nth-child(1) svg {
	max-width: 80px;
    width: 100%;
}

.main_nav_wrapp {
    padding: 10px 0 0 0;
}

.tel_link_main {
    font-size: 20px;
}
/*-- /Header --*/

/*-- Section 2 - Main Page --*/

.promo_img {
    height: 600px;
}

.promo_img_descript {
    width: 600px;
    padding: 20px 0 20px 40px;
}

.promo_img_descript p {
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.slide_num p {
	font-size: 28px;
	line-height: 34px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Service --*/

.two_cols_title h2 {
    font-size: 83px;
}

.book_sect {
    padding-bottom: 440px;
}

/*-- /Section 3 - Service --*/

.item > div:nth-child(1) {
    width: calc(100% - 500px);
    padding: 35px 35px 20px 35px;
}

.item > div:nth-child(2) {
    width: 500px;
}

.prices_thumbs {
    margin: 15px -10px 20px -10px;
}

.item_slider .slide {
    height: 450px;
}

/*-- Calc --*/

.calc_sect {
    padding: 20px 0 50px 0;
}

.calc_sect:before {
    display: none;
}

.calc_sect:after {
    display: none;
}

.calc_header h2 {
    font-size: 30px;
}

.calc_nav {
    margin: 0 -8px;
    padding-top: 6px;
}

.calc_nav li {
    padding: 7px 8px;
}

.calc_templ {
    margin: 30px -20px 15px -20px;
}

.calc_templ > div {
    padding: 10px 20px;
}

.slide_ranges {
    max-width: 381px;
}

.slide_ranges {
    left: 55px;
}

.calc_templ h3 {
    font-size: 20px;
    line-height: 26px;
}

.calc_res_wrapp {
    padding: 20px 0;
}

/*-- /Calc --*/

}

@media only screen and (max-width: 1500px) {
/*-- Header --*/

.main_nav li a {
    font-size: 15px;
}

/*-- /Header --*/

/*-- Section 4 - Main Page --*/

.two_cols_title h2 {
    font-size: 65px;
}

.two_cols_title p {
	padding-bottom: 0;
    font-size: 18px;
    line-height: 32px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.two_cols_3 > .left_col {
    width: 600px;
}

.two_cols_3 > .right_col {
    width: calc(100% - 600px);
}

.num_items {
    margin: 0 -10px;
}

.num_item {
    width: 33.33%;
    padding: 10px 10px;
}

.num_item p {
	font-size: 18px;
    line-height: 31px;
}

.article_inner h2 {
    font-size: 65px;
}

.article_inner p {
    padding: 14px 0;
    font-size: 18px;
    line-height: 32px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.sect_6_mp {
    padding-top: 66px;
}

.mos_logo {
    max-width: 500px;
}

.title_img_box {
    height: 327px;
}

.title_img_box .title_img_thumb:nth-child(1) {
    top: -226px;
    left: 87px;
    max-width: 370px;
}

.title_img_box .title_img_thumb:nth-child(2) {
    padding-bottom: 69px;
    top: -77px;
    left: 50%;
}

.title_img_box .title_img_thumb:nth-child(3) {
    right: 7%;
    padding-left: 90px;
}

.title_img_thumb p {
    font-size: 18px;
    line-height: 25px;
}

.red_link_2 {
    font-size: 18px;
}

/*-- /Section 6 - Main Page --*/

}

@media only screen and (max-width: 1400px) {

h1 {
    font-size: 40px;
}

/*-- Header --*/

.header_site > .left {
    width: 88px;
    padding: 5px 5px 4px 0;
}

.header_site > .center {
    width: calc(100% - 278px);
    padding: 0 10px;
}

.header_site > .right {
    width: 190px;
}

.tel_link_main {
    font-size: 18px;
}

.header_logo p {
	display: none;
}

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

.thumbs_1_wrapp {
	display: block;
    margin: 5px 0px 5px 0px;
}

.thumbs_1_wrapp .thumb_1 {
	display: flex;
    width: 100%;
    padding: 0;
}

.thumb_1 p {
    font-size: 16px;
    line-height: 23px;
    padding-top: 18px;
    padding-left: 10px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 3 - Main Page --*/

.two_cols_2_2 > .left_col {
    width: calc(100% - 500px);
}

.two_cols_2_2 > .right_col {
    width: 500px;
}

.thumb_2_wrapp {
    margin: 0 -10px;
}

.thumb_2 {
    padding: 10px 10px;
}

.thumb_2 p {
    font-size: 18px;
    line-height: 28px;
}

.button_box > div:nth-child(1) {
    padding-right: 20px;
}

.button_box > div:nth-child(2) {
    padding-top: 0;
}

.button_wrapp_less:before {
	display: none;
}

.red_pill_2 {
    font-size: 14px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.two_cols_title > .left_col {
    width: calc(100% - 450px);
}

.two_cols_title > .right_col {
    width: 450px;
}

.thumbnails_tree_cols {
    margin: 10px -10px 30px -10px;
}

.thumb_3_wrapp {
    padding: 10px;
}

.thumb_3 {
	height: 250px;
	padding: 30px 30px 20px 30px;
}

.thumb_3.big {
    height: 520px;
}

.thumb_3 p {
    font-size: 19px;
    line-height: 26px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 8 - Main Page --*/

.sect_8_mp {
    padding: 25px 0;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 9 - Main Page --*/

.testimonial {
    min-height: 430px;
    padding: 36px 30px 25px 30px;
}

.testimonial_header h3 {
    font-size: 21px;
    line-height: 29px;
}

.testimonial_descript p {
    font-size: 23px;
    line-height: 30px;
}

/*-- /Section 9 - Main Page --*/

/*-- Section 3 - Service --*/

.book_sect {
    padding-bottom: 350px;
}

/*-- /Section 3 - Service --*/

/*-- Section 1 - Product --*/

.main_title_2 h1 {
    font-size: 40px;
    line-height: 1.45;
}

/*-- /Section 1 - Product --*/

/*-- Section 3 - Product --*/

.article_two_cols > div:nth-child(odd) {
    width: 50%;
    padding: 10px 25px 10px 25px;
}

.article_two_cols > div:nth-child(even) {
    width: 50%;
    padding: 10px 25px 10px 25px;
}

.article_text {
    padding: 10px 25px 10px 25px;
}

.article > img {
    margin: 20px auto;
}

/*-- /Section 3 - Product --*/

/*-- Section 4 - Product --*/

.callback_form_wrapp {
    padding: 25px 35px 25px 35px;
}

/*-- /Section 4 - Product --*/

/*-- Section 1 - Contacts --*/

.contacts_thumbnails {
    margin: 0 -10px 24px -10px;
}

.contact_thumb {
    width: 50%;
    padding: 10px 10px;
}

/*-- /Section 1 - Contacts --*/

}

@media only screen and (max-width: 1240px) {

/*-- Section 4 - Main Page --*/

.two_cols_title h2 {
    font-size: 47px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.article_inner h2 {
	padding: 25px 0;
    font-size: 59px;
}

.num_items {
    margin: 0;
}

.num_item {
    width: 100%;
    padding: 5px 0;
}

.num_items .num_item:nth-child(1) {
    max-width: 100%;
}

.num_item p.num_red {
    padding-bottom: 0;
    font-size: 14px;
    line-height: 29px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.mos_logo {
    max-width: 400px;
}

.title_img_box {
    height: 286px;
    margin: 78px auto 0 auto;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 6_2 - Main Page --*/

.h2_two_cols h2 {
    font-size: 47px;
}

.product_thumb {
    padding: 25px 15px 25px 15px;
    min-height: 310px;
}

.product_icon {
    height: 110px;
    margin-bottom: 20px;
}

.product_thumb_descript p {
    font-size: 20px;
    line-height: 31px;
}

/*-- /Section 6_2 - Main Page --*/

/*-- Section 7 - Main Page --*/

.sect_7_mp {
    padding: 50px 0 11px 0;
}

.slider_1 {
    margin: 0 -25px;
}

.slider_1 .slide {
    padding: 25px 25px;
}

.slider_1_wrapp .slick-dots {
    bottom: -10px;
}

.thumb_5 p {
    font-size: 19px;
    line-height: 29px;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.form_inlines > div {
    padding: 15px 0;
}

.form_inlines > div:nth-child(1) {
    width: 35%;
}

.form_inlines > div:nth-child(2) {
    width: calc(65% - 250px);
}

.form_inlines > div:nth-child(3) {
    width: 250px;
}

.form_inlines input {
    padding: 0 25px;
    font-size: 18px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 10 - Main Page --*/

.client_thumb {
    height: 300px;
}

/*-- /Section 10 - Main Page --*/

/*-- Section 3 - Product --*/

.sect_3_product {
    padding: 30px 0;
}

.h2_wrapp_2 h2 {
    font-size: 47px;
}

/*-- /Section 3 - Product --*/

/*-- Section 4 - Product --*/

.callback_form_templ {
    margin: 25px -20px;
}

.callback_form_templ > div {
    padding: 20px 20px;
}

.callback_form_title h2 {
    font-size: 30px;
    line-height: 46px;
}

.h3_wrapp h3 {
    font-size: 18px;
    line-height: 24px;
}

.callback_form_templ .checkbox {
    padding: 15px 0 15px 0;
}

.callback_form_templ .input_wrapp {
    margin: 10px 0;
}

.file_input {
    padding: 20px 0 20px 0;
}

.input_wrapp .placeholder {
    font-size: 17px;
}

.checkbox label {
    font-size: 17px;
}

/*-- /Section 4 - Product --*/

/*-- Section 1 - Services --*/

.service {
    min-height: 310px;
    padding: 35px 25px 10px 25px;
}

.service_icon {
    height: 120px;
}

.service p {
    font-size: 21px;
    line-height: 28px;
}

/*-- /Section 1 - Services --*/

/*-- Section 2 - Prices --*/

.prices_tabs > .left_col {
    width: 325px;
    padding: 35px 20px 20px 25px;
}

.prices_tabs > .right_col {
    width: calc(100% - 325px);
}

/*-- /Section 2 - Prices --*/

/*-- Footer --*/

.tel_link {
    font-size: 18px;
}

.sub_menu_2 {
    min-width: 250px;
}

.footer_nav_columns > li {
    padding: 0 0 43px 0;
}

.footer_nav > li > a {
    font-size: 16px;
}

.sub_menu_2 > li a {
    font-size: 14px;
}

.footer_nav .dr_title {
    font-size: 16px;
}

.soc_list li a {
    width: 30px;
    height: 30px;
}

.adress_text p {
    font-size: 18px;
    line-height: 30px;
}

.link_2_wrapp {
    padding: 15px 0 15px 0;
}

.link_2 {
    font-size: 18px;
}

.footer_red_pill_wrapp {
    padding: 60px 0 30px 0;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1140px) {

.wrapper {
	padding-top: 61px;
}

.side_menu {
    z-index: 11;
}

/*-- Header --*/

.header {
	width: 100%;
	padding: 1px 0 2px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.respmenubtn {
	display: inline-block;
	vertical-align: top;
	position: absolute;
    top: 12px;
    right: -53px;
    z-index: 13;
}

.header_site > .center {
    width: 0;
    padding: 0;
}

.header_site > .right {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
	width: calc(100% - 90px);
	position: relative;
}

#resp_nav {
	/*display: block;*/
	display: none;
	max-width: 100vw;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	margin: 0;
	padding: 70px 10px 50px 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	background: #fff;
}

.main_nav {
	display: block;
}

.main_nav li {
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.main_nav li a {
    font-size: 21px;
    line-height: 21px;
}

.main_nav li .dr_btn {
    top: 10px;
    right: 27px;
}

.main_nav li .dr_btn svg {
	width: 20px;
	height: 20px;
}

.main_nav li .sub_menu {
	width: 100%;
    top: 0;
    margin-top: 20px;
}

.main_nav li.active .sub_menu {
	position: relative;
    left: 0;
}

.sub_menu:before {
	display: none;
}

.header_logo p {
    display: block;
}

.header_site > .left {
    width: 250px;
}

.header_site > .right {
    width: calc(100% - 250px);
}

/*-- /Header --*/

/*-- Side Menu --*/

.side_menu {
    height: 518px;
}

.links_list_wrapp {
    height: 322px;
}

.links_list {
    top: 250px;
}

.icon_link > div:nth-child(2) p {
    font-size: 13px;
    line-height: 17px;
}

/*-- /Side Menu --*/

/*-- Section 1 - Main Page --*/

.circle_image {
	display: none;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 3 - Main Page --*/

.thumb_2_wrapp {
    margin: 0;
}

.thumb_2 {
	width: 100%;
    padding: 5px 0;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 6 - Main Page --*/

.title_img_box .title_img_thumb:nth-child(1) {
    top: -175px;
    left: 87px;
    max-width: 284px;
    padding-top: 0;
    padding-right: 50px;
}

.title_img_box .title_img_thumb:nth-child(2) {
    padding-bottom: 43px;
    top: -77px;
    max-width: 260px;
}

.title_img_box .title_img_thumb:nth-child(3) {
    right: 12%;
    padding-left: 56px;
    top: 27%;
    max-width: 245px;
}

.title_img_thumb p {
    font-size: 16px;
    line-height: 25px;
}

.title_img_thumb:after {
    width: 30px;
    height: 30px;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 9 - Main Page --*/

.testimonial_header {
	align-items: center;
	-webkit-align-items: center;
}

.testimonial_header > div:nth-child(1) {
    width: 100px;
}

.testimonial_header > div:nth-child(2) {
    width: calc(100% - 100px);
}

.testimonial_header h3 {
    font-size: 19px;
    line-height: 26px;
}

.date {
    font-size: 19px;
    line-height: 26px;
}

.testimonial_descript p {
    font-size: 18px;
    line-height: 25px;
}

/*-- /Section 9 - Main Page --*/

/*-- Footer --*/

.sub_menu_2 {
    min-width: 220px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 1124px) {

.visible_1124 {
	display: block;
}

.novisible_1124 {
	display: none;
}

/*-- Section 2 - Product --*/

.item {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.item > div:nth-child(1) {
    width: 100%;
    padding: 35px 25px 20px 25px;
    order: 2;
}

.item > div:nth-child(2) {
    width: 100%;
    order: 1;
}

/*-- /Section 2 - Product --*/

/*-- Section 1 - Contacts --*/

.contact_thumb p {
    white-space: normal;
}

/*-- /Section 1 - Contacts --*/

/*-- Section 1 - Service --*/

.service_thumb {
    width: calc(50% - 20px);
    min-height: 280px;
    padding: 45px 30px 20px 30px;
}

/*-- /Section 1 - Service --*/

/*-- Section 2 - Service --*/

.item .buttons_wrapp {
    margin-top: 30px;
}

/*-- /Section 2 - Service --*/

/*-- Section 2 - Prices --*/

.price_table h3 {
    font-size: 16px;
    line-height: 30px;
}

/*-- /Section 2 - Prices --*/

/*-- Footer --*/

.footer_two_cols_2 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.footer_two_cols_2 > .left_col {
    width: 100%;
    padding: 10px 0;
}

.footer_two_cols_2 > .right_col {
    width: 316px;
    padding: 10px 0;
    margin: 0 auto;
}

.inlines_2 {
    margin: 7px -20px;
    justify-content: center;
}

.inlines_2 > div {
    padding: 5px 20px;
}

/*-- /Footer --*/

/*-- Calc --*/

.calc_sect {
    padding: 20px 0;
}

.calc_header > div:nth-child(1) {
    width: 100%;
    padding: 5px 0;
}

.calc_header > div:nth-child(2) {
    width: 100%;
    padding: 5px 0;
}

.calc_nav {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.calc_templ h3 {
    font-size: 18px;
    line-height: 26px;
}

.slide_ranges {
    height: 350px;
    max-width: 250px;
    width: 80%;
}

.vertical_sl {
    height: 314px;
}

.calc_input_wrapp input {
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.calc_input_wrapp select {
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}

.checkbox_2 {
    padding-left: 40px;
    font-size: 16px;
    line-height: 23px;
}

.radio_2 {
    padding-left: 40px;
    font-size: 16px;
    line-height: 23px;
}

.color {
    padding-left: 40px;
    font-size: 16px;
    line-height: 23px;
}

.calc_res_wrapp p {
    font-size: 20px;
    line-height: 30px;
}

.res_val {
    font-size: 28px;
    line-height: 30px;
}


/*-- /Calc --*/

}

@media only screen and (max-width: 1024px) {

/*-- Section 4 - Main Page --*/

.two_cols_title {
	display: block;
}

.two_cols_title > .left_col {
    width: 100%;
}

.two_cols_title > .right_col {
    width: 100%;
    padding: 0 0 10px 0;
}

.thumb_3 {
    height: 200px;
    padding: 15px 15px 15px 15px;
}

.thumb_3.big {
    height: 420px;
}

.thumb_3 p {
    font-size: 16px;
    line-height: 22px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.two_cols_3 > .left_col {
    width: 100%;
    padding: 10px 0;
}

.two_cols_3 > .right_col {
    width: 100%;
    padding: 10px 0;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.two_cols_3 > .left_col > img {
    max-width: 100%;
    margin: 20px 0 20px 0;
}

.num_items {
    margin: 0 -10px;
}

.num_item {
    width: 33.33%;
    padding: 10px 10px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.title_img_box .title_img_thumb:nth-child(1) {
    top: -175px;
    left: 45px;
}

.title_img_box .title_img_thumb:nth-child(3) {
    right: 5%;
    top: 34%;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 6_2 - Main Page --*/

.h2_two_cols > div:nth-child(1) {
	width: 100%;
}

.h2_two_cols > div:nth-child(2) {
    width: 100%;
}

/*-- /Section 6_2 - Main Page --*/

/*-- Section 8 - Main Page --*/

.title_2_wrapp h2 {
    font-size: 47px;
    line-height: 67px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 4 - Product --*/

.callback_form_templ {
    margin: 5px -20px;
}

.callback_form_templ > div {
    width: 50%;
}

.submit_wrapp {
    margin: 8px 0 8px 0;
}

.submit_wrapp > div:nth-child(odd) {
    width: 425px;
}

.submit_wrapp > div:nth-child(even) {
    width: calc(100% - 425px);
}

/*-- /Section 4 - Product --*/

/*-- Section 1 - Contacts --*/

.map_box {
    height: 300px;
    margin-bottom: 40px;
}

/*-- /Section 1 - Contacts --*/

/*-- Section 1 - Services --*/

.services_thumbs .service {
    width: calc(50% - 20px);
}

/*-- /Section 1 - Services --*/

/*-- Section 2 - Prices --*/

.prices_tabs {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 10px 0 15px 0;
}

.prices_tabs > .left_col {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 35px 20px 20px 25px;
}

.prices_tabs > .right_col {
    width: 100%;
}

.tabs_nav {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 0 -15px;
}

.tabs_nav li {
    padding: 10px 15px 10px 15px;
}

.prices_tabs .tab_content {
    padding: 7px 25px 7px 25px;
}

.button_tab_wrapp {
    padding: 20px 0;
}

/*-- /Section 2 - Prices --*/

}

@media only screen and (max-width: 900px) {

h1 {
    font-size: 29px;
}

.breadcrumbs {
    margin: 25px -13px 20px -13px;
}

.breadcrumbs li:after {
    font-size: 14px;
    line-height: 18px;
}

.breadcrumbs li a {
    font-size: 15px;
}

/*-- Section 1 - Main Page --*/

.two_cols {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 25px 0 6px;
}

.two_cols > .left_col {
    width: 100%;
    padding: 10px 0;
}

.two_cols > .right_col {
    width: 100%;
    padding: 10px 0;
}

.main_title h3 {
    font-size: 16px;
}

.thumbs_1_wrapp {
	display: flex;
}

.thumbs_1_wrapp .thumb_1 {
	display: block;
    width: 33.33%;
    padding: 10px 10px;
}

.thumb_1 .icon_box {
    margin-bottom: 0;
}

.thumb_1 p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 11px;
    padding-left: 0px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.promo_img {
    height: 400px;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.two_cols_2_2 {
	display: block;
	padding: 10px 0 10px 0;
}

.two_cols_2_2 > .left_col {
    width: 100%;
    padding: 5px 0;
}

.two_cols_2_2 > .right_col {
    width: 100%;
    padding: 5px 0;
}

.thumb_2_wrapp {
    margin: 0 -10px;
}

.thumb_2 {
	width: 33.33%;
    padding: 10px 10px;
}

.button_box {
	align-items: center;
	-webkit-align-items: center;
	max-width: 600px;
}

.button_box > div:nth-child(1) {
    width: calc(100% - 200px);
}

.button_box > div:nth-child(2) {
    width: 200px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 8 - Main Page --*/

.sect_8_mp {
    padding: 25px 0;
}

.title_2_wrapp h2 {
    font-size: 34px;
    line-height: 120%;
}

.form_wrapp {
    margin: 0;
    padding: 12px 0;
    border: none;
}

.form_inlines {
	display: block;
}

.form_inlines > div {
    padding: 0;
    border-left: none;
}

.form_inlines > div:nth-child(1) {
    width: 100%;
}

.form_inlines > div:nth-child(2) {
    width: 100%;
}

.form_inlines > div:nth-child(3) {
    width: 250px;
    padding-top: 20px;
}

.form_inlines input {
    padding: 0;
    border-bottom: 1px solid #C4C4C4;
    font-size: 18px;
    line-height: 40px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 10 - Main Page --*/

.sect_10_mp {
    padding-bottom: 30px;
}

.clients_slider {
    margin: 0 -10px;
}

.clients_slider .slide {
    padding: 20px 10px;
}

/*-- /Section 10 - Main Page --*/

/*-- Section 3 - Service --*/

.book_sect {
    padding-bottom: 200px;
}

/*-- /Section 3 - Service --*/

/*-- Section 1 - Product --*/

.main_title_2 h1 {
	padding-top: 0;
    font-size: 29px;
}

/*-- /Section 1 - Product --*/

/*-- Section 3 - Product --*/

.h2_wrapp_2 {
    padding: 10px 0 20px 0;
}

.article_two_cols > div:nth-child(odd) {
    width: 100%;
    padding: 0;
}

.article_two_cols > div:nth-child(even) {
    width: 100%;
    padding: 0;
}

.article_text {
    padding: 0;
}

/*-- /Section 3 - Product --*/

/*-- Section 4 - Product --*/

.callback_form_title h2 {
    font-size: 23px;
    line-height: 37px;
}

.submit_wrapp > div:nth-child(odd) {
    width: 310px;
}

.submit_wrapp > div:nth-child(even) {
    width: calc(100% - 310px);
}

.button_wrapp_2 {
    min-width: 300px;
}

/*-- /Section 4 - Product --*/

/*-- Calc --*/

.calc_header h2 {
    font-size: 24px;
}

.calc_templ {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 20px 0;
}

.calc_templ > div {
    width: 100%;
    padding: 10px 0;
}

/*-- /Calc --*/

/*-- Footer --*/

.footer_two_cols {
    padding: 30px 0 15px 0;
}

.footer_two_cols > .left_col {
    width: 70%;
    padding: 10px 10px 10px 0;
}

.footer_two_cols > .right_col {
    width: 30%;
    padding: 10px 0 10px 10px;
}

.footer_nav {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.footer_nav_inline {
    margin: 12px 0;
}

.footer_nav_inline > li {
    width: 100%;
    padding: 3px 0 40px 0;
}

.footer_red_pill_wrapp {
    padding: 25px 0 25px 0;
}

/*-- /Footer --*/


}

@media only screen and (max-width: 767px) {

.row {
    padding: 0 25px;
}

.red_pill,
.red_pill_2 {
	min-height: 60px;
}

.button_wrapp:after {
    height: 30px;
}

/*-- Side Menu --*/

.side_menu {
	width: 30px;
	height: 250px;
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

.callback_btn {
    width: 30px;
    height: 30px;
}

.icon_link > div:nth-child(2) {
	display: none;
}

.icon_link > div:nth-child(1) img {
    max-width: 24px;
    left: 19px;
}

.icon_link {
    height: 30px;
}

.links_list_wrapp {
    height: 87px;
}

.links_list li {
    padding: 0px 2px;
}

.side_soc_list {
    height: 130px;
    padding: 0 0 14px 0;
}

.side_soc_list li {
    padding: 3px;
}

.side_soc {
    width: 24px;
    height: 24px;
}

.links_list {
    top: 40px;
}

/*-- /Side Menu --*/

/*-- Header --*/

.header_site > .right {
    padding: 1px 50px 6px 10px;
}

.respmenubtn {
    right: -17px;
}

/*-- /Header --*/

/*-- Section 2 - Main Page --*/

.promo_img_descript {
    width: 100%;
    padding: 10px 0 10px 20px;
    background: rgba(255, 255, 255, .8);
}

.promo_img_descript:before {
	display: none;
}

.promo_img_descript > div:nth-child(1) {
    width: calc(100% - 100px);
}

.promo_img_descript > div:nth-child(2) {
    width: 100px;
}

.promo_img_descript p {
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.slide_num p {
    font-size: 28px;
    line-height: 34px;
}

.slide_num svg {
	display: none;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 4 - Main Page --*/

.two_cols_title h2 {
    font-size: 43px;
}

.two_cols_title p {
    font-size: 15px;
    line-height: 25px;
}

.thumbnails_tree_cols {
    margin: 10px -5px 30px -5px;
}

.thumb_3_wrapp {
    padding: 5px;
}

.thumb_3 {
    height: 140px;
}

.thumb_3.big {
    height: 290px;
}

.thumb_3 p {
    font-size: 14px;
    line-height: 19px;
}

.thumb_3:hover {
    filter: drop-shadow(0 20px 40px rgba(0, 0, 0, .12));
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.two_cols_3 {
    padding: 25px 0 10px 0;
}

.num_items {
    margin: 0;
}

.num_item {
    width: 100%;
    padding: 5px 0;
}

.article_inner h2 {
    padding: 15px 0;
    font-size: 43px;
}

.article_inner p {
    padding: 10px 0;
    font-size: 15px;
    line-height: 25px;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6_2 - Main Page --*/

.h2_two_cols h2 {
    font-size: 43px;
}

.h2_two_cols .slide_num svg {
    display: block;
}

/*-- /Section 6_2 - Main Page --*/

/*-- Section 9 - Main Page --*/

.red_link_wrapp_2 {
    padding: 25px 0;
}

.testimonial {
    min-height: auto;
}

.testimonial_slider .testimonial {
    margin: 0 10px;
}

/*-- /Section 9 - Main Page --*/

/*-- Section 2 - Product --*/

.item_slider .slide {
    height: 350px;
}

.item_slider .slick-dots {
    bottom: 6px;
}

.item > div:nth-child(1) {
    padding: 11px 25px 20px 25px;
}

.item h3 {
    padding: 8px 0;
    font-size: 21px;
    line-height: 28px;
}

.item p {
    padding: 10px 0;
    font-size: 18px;
    line-height: 25px;
}

.prices_thumbs {
    margin: 5px -10px 15px -10px;
}

.price_thumb {
    width: 215px;
    padding: 8px 10px;
}

.price_thumb p {
	padding: 0;
    font-size: 18px;
    line-height: 28px;
}

/*-- /Section 2 - Product --*/

/*-- Section 3 - Product --*/

.h2_wrapp_2 h2 {
    font-size: 43px;
}

/*-- /Section 3 - Product --*/

/*-- Section 4 - Product --*/

.callback_form_templ > div {
    width: 100%;
}

.file_input {
    padding: 20px 0 10px 0;
}

/*-- /Section 4 - Product --*/

/*-- Section 1 - Contacts --*/

.contacts_thumbnails {
    margin: 0 0 25px 0;
}

.contact_thumb {
	width: 100%;
    padding: 10px 0;
}

/*-- /Section 1 - Contacts --*/

/*-- Section 1 - Service --*/

.breadcrumbs + .two_cols_2 {
    padding-top: 2px;
}

.main_title_2 p {
    padding: 5px 0 5px 0;
    font-size: 19px;
    line-height: 35px;
}

/*-- /Section 1 - Service --*/

/*-- Calc --*/

.slide_ranges {
    left: 0;
}

.sl_val {
    min-width: 63px;
    font-size: 16px;
    line-height: 27px;
}

.vertical_sl {
    left: 100%;
}

.gorizontal_sl {
    width: calc(100% - 72px);
}

/*-- /Calc --*/

/*-- Footer --*/

.footer_bottom {
    padding: 5px 0 5px 0;
}

.footer_two_cols > .left_col {
    width: 65%;
}

.footer_two_cols > .right_col {
    width: 35%;
}

.two_cols_inner > .left_col {
    width: 60%;
}

.two_cols_inner > .right_col {
    width: 40%;
}

.footer_nav_columns > li {
    padding: 0 0 30px 0;
}

.footer_nav > li > a {
    font-size: 14px;
}

.footer_nav .dr_title {
    font-size: 14px;
}

.footer_nav_inline > li {
    padding: 5px 0 25px 0;
}

.logo_wrapp {
    margin: 0 0 30px;
}

.inlines_2 {
    display: block;
    margin: 7px 0;
}

.inlines_2 > div {
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 700px) {

/*-- Section 4 - Main Page --*/

.thumbnails_tree_cols > div:nth-child(1) {
    width: 50%;
}

.thumbnails_tree_cols > div:nth-child(2) {
    width: 50%;
}

.thumbnails_tree_cols > div:nth-child(3) {
    width: 100%;
}

.thumb_3 {
    height: 160px;
}

.thumb_3.big {
    height: 330px;
}

.thumb_3 p {
    font-size: 16px;
    line-height: 19px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 6 - Main Page --*/

.title_img_box .title_img_thumb:nth-child(1) {
    top: -218px;
    left: 24%;
}

.title_img_box .title_img_thumb:nth-child(2) {
    left: 19%;
}

.title_img_box .title_img_thumb:nth-child(3) {
    right: 19%;
    top: 55%;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 8 - Main Page --*/

.title_2_wrapp h2 {
    font-size: 24px;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 10 - Main Page --*/

.client_thumb {
    height: 220px;
}

/*-- /Section 10 - Main Page --*/

/*-- Section 4 - Product --*/

.callback_form_wrapp {
    padding: 25px 15px 25px 15px;
}

.submit_wrapp {
    margin: 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.submit_wrapp > div:nth-child(odd) {
    width: 100%;
    padding: 5px 0;
}

.submit_wrapp > div:nth-child(even) {
    width: 100%;
    padding: 5px 0;
}

/*-- /Section 4 - Product --*/

/*-- Footer --*/

.sub_menu_2 {
    min-width: 180px;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 650px) {

.novisible_650 {
    display: none;
}

.visible_650 {
    display: block;
}

/*-- Footer --*/

.footer_two_cols > .left_col {
    width: 100%;
    padding: 0;
}

.footer_two_cols > .right_col {
    width: 100%;
    padding: 0;
}

.two_cols_inner > .left_col {
    width: 100%;
    padding: 0;
    text-align: center;
}

.two_cols_inner > .right_col {
    width: 100%;
    padding: 15px 0 0 0;
    text-align: center;
}

.soc_list {
    justify-content: center;
    -webkit-justify-content: center;
}

.footer_nav_inline {
    justify-content: center;
    -webkit-justify-content: center; 
}

.footer_nav_columns > li:last-child {
    padding: 0 0 20px 0;
}

.footer_nav_inline > li {
    padding: 5px 0 25px 0;
    max-width: 100%;
    text-align: center;
}

.footer_nav_inline > li:last-child {
    padding-bottom: 0;
}

.footer_nav_inline > li .dr_title_wrapp {
    position: relative;
    left: 8px;
}

.footer_red_pill_wrapp {
    padding: 6px 0 25px 0;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center; 
}

/*-- /Footer --*/    

}

@media only screen and (max-width: 600px) {

.wrapper {
    padding-top: 50px;
}

.row {
    padding: 0 15px;
}

/*-- Header --*/

.header_site > .left {
	width: 197px;
    padding: 10px 5px 4px 0;
}

.header_site > .right {
    width: calc(100% - 197px);
    padding: 1px 32px 6px 10px;
}

.logo_2 > div:nth-child(1) {
    width: 50px;
}

.logo_2 > div:nth-child(1) svg {
    width: 45px;
    height: 30px;
}

.logo_2 p {
    font-size: 11px;
    line-height: 15px;
}

.tel_link_main {
    font-size: 15px;
}

.header_contacts {
    padding-top: 0;
}

.header_contacts > div {
    padding: 0;
}

.header_contacts .red_link {
	font-size: 14px;
}

.respmenubtn {
    top: 6px;
 }

/*-- /Header --*/

/*-- Section 1 - Main Page --*/

h1 {
    font-size: 25px;
}

.two_cols {
    padding: 20px 0 20px;
}

.main_title h3 {
    font-size: 15px;
}

.main_title h1 {
    padding-top: 24px;
}

.thumbs_1_wrapp {
    display: block;
}

.thumbs_1_wrapp .thumb_1 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
}

.thumb_1 p {
	padding-left: 20px;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.promo_img_descript_wrapp {
	margin: 0 -15px;
}

.promo_img_descript {
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.promo_img_descript > div:nth-child(1) {
    width: calc(100% - 40px);
}

.promo_img_descript > div:nth-child(2) {
    width: 40px;
}

.slide_num p {
    min-width: 40px;
    padding-left: 0;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.button_box {
	display: block;
	width: 100%;
	padding-top: 0;
}

.button_box > div:nth-child(1) {
    width: 100%;
    padding-right: 0;
}

.button_box > div:nth-child(2) {
    width: 100%;
   padding-top: 20px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 6 - Main Page --*/

.title_img_box .title_img_thumb:nth-child(1) {
    top: -218px;
    left: 20%;
}

.title_img_box .title_img_thumb:nth-child(2) {
    left: 10%;
}

.title_img_box .title_img_thumb:nth-child(3) {
    right: 31%;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 7 - Main Page --*/

.thumb_5 {
	text-align: center;
}

.thumb_5 .icon_box {
    margin: 23px auto 23px auto;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 9 - Main Page --*/

.testimonial_slider {
    margin: 25px -10px 0 -10px;
}

/*-- /Section 9 - Main Page --*/

/*-- Section 3 - Service --*/

.two_cols_title_2 {
    margin-top: 24px;
}

.book_sect {
	background-image: none;
    padding-bottom: 40px;
}

/*-- /Section 3 - Service --*/

/*-- Section 2 - Product --*/

.button_wrapp_2 {
    min-width: 330px;
}

/*-- /Section 2 - Product --*/

/*-- Section 1 - Service --*/

.services_thumbnails {
    margin: 0;
}

.service_thumb {
    width: 100%;
    min-height: auto;
    padding: 25px 15px 20px 15px;
}

/*-- /Section 1 - Service --*/

/*-- Footer --*/

.logo_2.footer_logo > div:nth-child(1) {
    width: 110px;
}

.logo_2.footer_logo > div:nth-child(1) svg {
    width: 100%;
    height: auto;
}

/*-- /Footer --*/

}

@media only screen and (max-width: 530px) {

/*-- Section 2 - Prices --*/

	.price_table .table_row:nth-child(1) .cell:nth-child(2) {
		display: none;
	}

	.price_table .table_row:nth-child(1) .cell:nth-child(1) {
	    width: 100%;
	    padding: 4px 0;
	}

	.price_table .table_row:nth-child(1) h3 {
	    font-size: 20px;
	}

	.price_table .table_row {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		border-bottom: 1px solid #ededed;
	}

	.button_tab_wrapp .button_wrapp {
	    min-width: 100%;
	}

	.price_table h3 {
	    display: block;
	}

	.price_table .table_row .cell:nth-child(1),
	.price_table .table_row .cell:nth-child(2) {
	    width: 100%;
	}

	.price_table .table_row .cell:nth-child(1) {
		padding-top: 10px;
		padding-bottom: 0;
	}

	.price_table .table_row .cell:nth-child(2) {
	    text-align: left;
	    padding: 0 0 10px 0;
	}

/*-- /Section 2 - Prices --*/

}

@media only screen and (max-width: 480px) {

/*-- Header --*/

.header_site > .left {
    width: 60px;
}

.header_site > .right {
    width: calc(100% - 60px);
}

.header_logo p {
    display: none;
}

/*-- /Header --*/

/*-- Section 3 - Main Page --*/

.thumb_2_wrapp {
    margin: 0;
}

.thumb_2 {
    width: 100%;
    padding: 5px 0;
}

.thumb_2 p {
    font-size: 16px;
    line-height: 25px;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.two_cols_title h2 {
    font-size: 29px;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.article_inner h2 {
    padding: 5px 0;
    font-size: 29px;
}

.two_cols_3 > .left_col > img {
    margin: 10px 0;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.mos_logo {
    width: 100%;
    max-width: 390px;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 6_2 - Main Page --*/

.h2_two_cols h2 {
    font-size: 29px;
    line-height: 120%;
}

.h2_two_cols .slide_num {
    margin-top: 10px;
}

.h2_two_cols .slide_num svg {
	width: 140px;
}

.products_slider {
    margin: 10px -10px 10px -10px;
}

/*-- /Section 6_2 - Main Page --*/

/*-- Section 9 - Main Page --*/

.testimonial_slider {
    margin: 5px -10px;
}

.testimonial {
    padding: 20px;
}

.testimonial_header {
	display: block;
	padding: 8px 0;
}

.testimonial_header > div:nth-child(2) {
    width: 100%;
}

.testimonial_descript p {
    font-size: 16px;
    line-height: 23px;
}

.date {
    font-size: 16px;
    line-height: 24px;
}

/*-- /Section 9 - Main Page --*/

/*-- Section 2 - Product --*/

.item_slider .slide {
    height: 290px;
}

.items .item {
    margin: 20px 0;
}

.button_wrapp_2 {
    min-width: 100%;
}

/*-- /Section 2 - Product --*/

/*-- Section 3 - Product --*/

.h2_wrapp_2 h2 {
    font-size: 29px;
}

/*-- /Section 3 - Product --*/

/*-- Section 1 - Services --*/

.services_thumbs {
    margin: 20px 0;
}

.services_thumbs .service {
    width: 100%;
    margin: 10px 0;
    min-height: 280px;
} 

/*-- /Section 1 - Services --*/

/*-- Section 2 - Service --*/

.buttons_wrapp > div {
    width: 100%;
    padding: 10px 0;
}

/*-- /Section 2 - Service --*/

/*-- Up Button --*/

.up_btn {
    width: 35px;
    height: 35px;
    right: 10px;
}

/*-- /Up Button --*/

}

@media only screen and (max-width: 410px) {

.slick-dots li {
    margin: 5px;
}

.slick-dots li button {
    width: 13px;
    height: 13px;
}

/*-- Section 4 - Main Page --*/

	.thumb_3 {
	    height: 130px;
	}

	.thumb_3.big {
	    height: 270px;
	}

	.thumb_3 p {
	    font-size: 14px;
	    line-height: 17px;
	}

/*-- /Section 4 - Main Page --*/

/*-- Section 6 - Main Page --*/

.title_img_box .title_img_thumb:nth-child(1) {
	max-width: 272px;
	top: -182px;
    left: 20px;
}

.title_img_box .title_img_thumb:nth-child(3) {
    right: 18%;
}

.mos_logo {
    opacity: .6;
}

/*-- /Section 6 - Main Page --*/

/*-- Section 2 - Product --*/

.item > div:nth-child(1) {
    padding: 11px 15px 11px 15px;
}

.item_slider .slide {
    height: 250px;
}

/*-- /Section 2 - Product --*/

/*-- Footer --*/

.footer_two_cols_2 > .right_col {
    width: 280px;
}

.inlines_2 p {
    font-size: 14px;
}

.link_3 {
    font-size: 14px;
}

.corp_logo > div:nth-child(1) {
    padding: 17px 10px 0 0;
}

.corp_logo p {
    font-size: 12px;
}

/*-- /Footer --*/

}
